n8n/ten80ten-auto-publisher.json
{
  "name": "Ten80Ten Auto-Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        440
      ]
    },
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        620
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "posts",
        "filterType": "string",
        "filterString": "stage=eq.approved_scheduled&scheduled_date=not.is.null&scheduled_time=not.is.null",
        "returnAll": true
      },
      "id": "fetch-posts",
      "name": "Get Scheduled Posts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        440
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_ME",
          "name": "Supabase - Ten80Ten"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ─── Filter posts that are due NOW (CST timezone) ───\n// The portal schedules posts in CST (UTC-6).\n// Only returns posts whose date+time has arrived.\n\nconst items = $input.all();\nif (!items || items.length === 0) return [];\n\nconst now = new Date();\nconst cstOffset = -6 * 60;\nconst utcMs = now.getTime() + now.getTimezoneOffset() * 60000;\nconst cstNow = new Date(utcMs + cstOffset * 60000);\nconst nowDate = cstNow.toISOString().split('T')[0];\nconst nowHH = String(cstNow.getHours()).padStart(2, '0');\nconst nowMM = String(cstNow.getMinutes()).padStart(2, '0');\nconst nowTime = `${nowHH}:${nowMM}`;\n\nconst due = items.filter(item => {\n  const d = item.json.scheduled_date;\n  const t = (item.json.scheduled_time || '').substring(0, 5);\n  if (!d || !t) return false;\n  if (d < nowDate) return true;\n  if (d === nowDate && t <= nowTime) return true;\n  return false;\n});\n\nreturn due;"
      },
      "id": "filter-due",
      "name": "Filter Due Now",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        440
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-posts",
      "name": "Process Each Post",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        440
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "posts",
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "stage",
              "fieldValue": "posted"
            }
          ]
        }
      },
      "id": "mark-posted",
      "name": "Mark as Posted",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        440
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_ME",
          "name": "Supabase - Ten80Ten"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Ten80Ten Auto-Publisher — Platform Posting Engine\n// ═══════════════════════════════════════════════════════\n//\n// SETUP: Replace the placeholders below with your real credentials.\n//\n// Facebook + Instagram:\n//   1. Create a Meta App at developers.facebook.com\n//   2. Add Facebook Login + Pages API + Instagram Graph API\n//   3. Generate a long-lived Page Access Token\n//   4. Get your FB Page ID and IG Business Account ID\n//\n// LinkedIn:\n//   1. Create a LinkedIn App at linkedin.com/developers\n//   2. Request 'w_member_social' or 'w_organization_social' scope\n//   3. Generate an OAuth2 access token\n//   4. Get your Organization URN\n//\n// ═══════════════════════════════════════════════════════\n\n// ─── CREDENTIALS (edit these) ───\nconst META_ACCESS_TOKEN = 'YOUR_META_PAGE_ACCESS_TOKEN';\nconst FB_PAGE_ID         = 'YOUR_FACEBOOK_PAGE_ID';\nconst IG_USER_ID         = 'YOUR_INSTAGRAM_BUSINESS_ACCOUNT_ID';\nconst LI_ACCESS_TOKEN    = 'YOUR_LINKEDIN_ACCESS_TOKEN';\nconst LI_ORG_URN         = 'urn:li:organization:YOUR_ORG_ID';\n// ─────────────────────────────────\n\nconst _http = this.helpers.httpRequest.bind(this.helpers);\n\nconst post = $input.item.json;\nconst platforms = Array.isArray(post.platforms) ? post.platforms : [];\nconst caption = post.caption || '';\nconst contentType = post.content_type || 'image';\n\n// Parse source_vault (may be string or object)\nlet vault = post.source_vault || {};\nif (typeof vault === 'string') {\n  try { vault = JSON.parse(vault); } catch { vault = {}; }\n}\nconst rawFiles = vault.rawFiles || [];\nconst master = rawFiles.find(f => f.usageType === 'master') || rawFiles[0];\n\nif (!master) {\n  return { json: { postId: post.id, title: post.title, error: 'No content file in source vault', results: [] } };\n}\n\n// Resolve Google Drive URL to direct download format\nfunction driveUrl(url) {\n  if (!url) return url;\n  // If it's a portal-relative URL, we can't use it externally\n  if (url.startsWith('/')) return null;\n  // Convert Drive view links to direct download\n  if (url.includes('drive.google.com')) {\n    const m = url.match(/\\/d\\/([a-zA-Z0-9_-]+)/) || url.match(/[?&]id=([a-zA-Z0-9_-]+)/);\n    if (m) return `https://drive.google.com/uc?export=download&id=${m[1]}`;\n  }\n  return url;\n}\n\nconst fileUrl = driveUrl(master.url);\nif (!fileUrl) {\n  return { json: { postId: post.id, title: post.title, error: 'File URL is not publicly accessible', results: [] } };\n}\n\nconst results = [];\n\n// ─── FACEBOOK ───\nasync function postToFacebook() {\n  if (contentType === 'video' || contentType === 'reel') {\n    const res = await _http({\n      method: 'POST',\n      url: `https://graph.facebook.com/v21.0/${FB_PAGE_ID}/videos`,\n      qs: { file_url: fileUrl, description: caption, access_token: META_ACCESS_TOKEN },\n    });\n    return { platform: 'facebook', success: true, id: res.id };\n  }\n  // Image or carousel (FB treats carousel as album — post first image)\n  const res = await _http({\n    method: 'POST',\n    url: `https://graph.facebook.com/v21.0/${FB_PAGE_ID}/photos`,\n    qs: { url: fileUrl, message: caption, access_token: META_ACCESS_TOKEN },\n  });\n  return { platform: 'facebook', success: true, id: res.id || res.post_id };\n}\n\n// ─── INSTAGRAM ───\nasync function postToInstagram() {\n  // Carousel with multiple files\n  if (contentType === 'carousel' && rawFiles.length > 1) {\n    const childIds = [];\n    for (const file of rawFiles) {\n      const url = driveUrl(file.url);\n      if (!url) continue;\n      const child = await _http({\n        method: 'POST',\n        url: `https://graph.facebook.com/v21.0/${IG_USER_ID}/media`,\n        qs: { image_url: url, is_carousel_item: true, access_token: META_ACCESS_TOKEN },\n      });\n      childIds.push(child.id);\n    }\n    const container = await _http({\n      method: 'POST',\n      url: `https://graph.facebook.com/v21.0/${IG_USER_ID}/media`,\n      qs: { media_type: 'CAROUSEL', children: childIds.join(','), caption, access_token: META_ACCESS_TOKEN },\n    });\n    // Poll until container is ready\n    await waitForContainer(container.id);\n    const pub = await _http({\n      method: 'POST',\n      url: `https://graph.facebook.com/v21.0/${IG_USER_ID}/media_publish`,\n      qs: { creation_id: container.id, access_token: META_ACCESS_TOKEN },\n    });\n    return { platform: 'instagram', success: true, id: pub.id };\n  }\n\n  // Video / Reel\n  if (contentType === 'video' || contentType === 'reel') {\n    const container = await _http({\n      method: 'POST',\n      url: `https://graph.facebook.com/v21.0/${IG_USER_ID}/media`,\n      qs: { media_type: 'REELS', video_url: fileUrl, caption, access_token: META_ACCESS_TOKEN },\n    });\n    await waitForContainer(container.id);\n    const pub = await _http({\n      method: 'POST',\n      url: `https://graph.facebook.com/v21.0/${IG_USER_ID}/media_publish`,\n      qs: { creation_id: container.id, access_token: META_ACCESS_TOKEN },\n    });\n    return { platform: 'instagram', success: true, id: pub.id };\n  }\n\n  // Single image\n  const container = await _http({\n    method: 'POST',\n    url: `https://graph.facebook.com/v21.0/${IG_USER_ID}/media`,\n    qs: { image_url: fileUrl, caption, access_token: META_ACCESS_TOKEN },\n  });\n  await waitForContainer(container.id);\n  const pub = await _http({\n    method: 'POST',\n    url: `https://graph.facebook.com/v21.0/${IG_USER_ID}/media_publish`,\n    qs: { creation_id: container.id, access_token: META_ACCESS_TOKEN },\n  });\n  return { platform: 'instagram', success: true, id: pub.id };\n}\n\n// Poll IG container status until FINISHED (required for video/carousel)\nasync function waitForContainer(containerId) {\n  for (let i = 0; i < 30; i++) {\n    await new Promise(r => setTimeout(r, 5000));\n    const check = await _http({\n      method: 'GET',\n      url: `https://graph.facebook.com/v21.0/${containerId}`,\n      qs: { fields: 'status_code', access_token: META_ACCESS_TOKEN },\n    });\n    if (check.status_code === 'FINISHED') return;\n    if (check.status_code === 'ERROR') throw new Error(`IG container failed: ${JSON.stringify(check)}`);\n  }\n  throw new Error('IG container processing timed out after 150s');\n}\n\n// ─── LINKEDIN ───\nasync function postToLinkedin() {\n  // Step 1: Register image upload\n  const register = await _http({\n    method: 'POST',\n    url: 'https://api.linkedin.com/v2/assets?action=registerUpload',\n    headers: { Authorization: `Bearer ${LI_ACCESS_TOKEN}`, 'Content-Type': 'application/json' },\n    body: {\n      registerUploadRequest: {\n        recipes: ['urn:li:digitalmediaRecipe:feedshare-image'],\n        owner: LI_ORG_URN,\n        serviceRelationships: [{ relationshipType: 'OWNER', identifier: 'urn:li:userGeneratedContent' }],\n      },\n    },\n  });\n\n  const uploadUrl = register.value?.uploadMechanism?.['com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest']?.uploadUrl;\n  const asset = register.value?.asset;\n  if (!uploadUrl || !asset) throw new Error('LinkedIn upload registration failed');\n\n  // Step 2: Download file from Drive and upload to LinkedIn\n  const fileData = await _http({ method: 'GET', url: fileUrl, encoding: 'arraybuffer' });\n  await _http({\n    method: 'PUT',\n    url: uploadUrl,\n    headers: { Authorization: `Bearer ${LI_ACCESS_TOKEN}` },\n    body: fileData,\n  });\n\n  // Step 3: Create post\n  const postRes = await _http({\n    method: 'POST',\n    url: 'https://api.linkedin.com/v2/ugcPosts',\n    headers: { Authorization: `Bearer ${LI_ACCESS_TOKEN}`, 'Content-Type': 'application/json' },\n    body: {\n      author: LI_ORG_URN,\n      lifecycleState: 'PUBLISHED',\n      specificContent: {\n        'com.linkedin.ugc.ShareContent': {\n          shareCommentary: { text: caption },\n          shareMediaCategory: 'IMAGE',\n          media: [{ status: 'READY', media: asset }],\n        },\n      },\n      visibility: { 'com.linkedin.ugc.MemberNetworkVisibility': 'PUBLIC' },\n    },\n  });\n  return { platform: 'linkedin', success: true, id: postRes.id };\n}\n\n// ─── EXECUTE ───\nfor (const platform of platforms) {\n  try {\n    switch (platform) {\n      case 'facebook': results.push(await postToFacebook()); break;\n      case 'instagram': results.push(await postToInstagram()); break;\n      case 'linkedin': results.push(await postToLinkedin()); break;\n      case 'x':\n      case 'youtube':\n      case 'tiktok':\n        results.push({ platform, success: false, error: `${platform} not configured. Post manually.` });\n        break;\n      default:\n        results.push({ platform, success: false, error: `Unknown platform: ${platform}` });\n    }\n  } catch (err) {\n    results.push({ platform, success: false, error: err.message || String(err) });\n  }\n}\n\nconst succeeded = results.filter(r => r.success).map(r => r.platform);\nconst failed = results.filter(r => !r.success);\n\nreturn {\n  json: {\n    postId: post.id,\n    title: post.title,\n    publishedAt: new Date().toISOString(),\n    results,\n    succeededPlatforms: succeeded,\n    failedPlatforms: failed,\n    summary: succeeded.length > 0\n      ? `Published to ${succeeded.join(', ')}${failed.length > 0 ? `. Failed: ${failed.map(f => f.platform + ' (' + f.error + ')').join(', ')}` : ''}`\n      : `All platforms failed: ${failed.map(f => f.platform + ' (' + f.error + ')').join(', ')}`,\n  },\n};"
      },
      "id": "publish",
      "name": "Publish to Platforms",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        440
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "post_audit_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "post_id",
              "fieldValue": "={{ $json.postId }}"
            },
            {
              "fieldId": "user_name",
              "fieldValue": "n8n Auto-Publisher"
            },
            {
              "fieldId": "action_type",
              "fieldValue": "auto_published"
            },
            {
              "fieldId": "details",
              "fieldValue": "={{ $json.summary }}"
            }
          ]
        }
      },
      "id": "audit-log",
      "name": "Log to Audit Trail",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1680,
        440
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_ME",
          "name": "Supabase - Ten80Ten"
        }
      }
    },
    {
      "parameters": {
        "content": "## Setup Guide\n\n### 1. Supabase Credential\nCreate an n8n credential of type **Supabase**:\n- **Host**: Your Supabase project URL (e.g. `https://abc123.supabase.co`)\n- **Service Role Key**: Found in Supabase > Settings > API > `service_role` key\n\nApply this credential to all three Supabase nodes.\n\n### 2. Platform Credentials\nOpen the **Publish to Platforms** Code node and replace the placeholder values at the top:\n- `META_ACCESS_TOKEN` — Long-lived Facebook Page Access Token\n- `FB_PAGE_ID` — Your Facebook Page ID\n- `IG_USER_ID` — Your Instagram Business Account ID\n- `LI_ACCESS_TOKEN` — LinkedIn OAuth2 token\n- `LI_ORG_URN` — Your LinkedIn Organization URN\n\n### 3. Google Drive Sharing\nAll files in your Drive `raw-files` folder must have sharing set to **\"Anyone with the link can view\"**. Without this, Meta and LinkedIn APIs cannot fetch the files.\n\n### 4. Activate\nToggle the workflow **Active** once credentials are configured.\n\n### How It Works\n1. Runs every 5 minutes\n2. Queries Supabase for posts in `approved_scheduled` stage\n3. Filters to only posts whose date+time has passed (CST)\n4. For each due post: marks as `posted`, publishes to each platform, logs to audit trail\n5. Individual platform failures don't block other platforms\n6. All results are logged to `post_audit_logs` for traceability",
        "height": 580,
        "width": 460,
        "color": 5
      },
      "id": "note-setup",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        -160
      ]
    },
    {
      "parameters": {
        "content": "## Platform Support\n\n| Platform | Status | Method |\n|----------|--------|--------|\n| Facebook | Ready | Graph API v21 — image + video |\n| Instagram | Ready | Container → Poll → Publish (image, reel, carousel) |\n| LinkedIn | Ready | Register Upload → Binary Upload → UGC Post |\n| X / Twitter | Manual | Requires OAuth 1.0a signing — post manually |\n| YouTube | Manual | Requires video upload API — post manually |\n| TikTok | Manual | Limited API access — post manually |\n\n### Meta Token Refresh\nFacebook Page tokens expire after ~60 days. To refresh:\n1. Go to developers.facebook.com > Your App > Tools > Graph API Explorer\n2. Select your Page, generate a new token\n3. Exchange for long-lived token via the API\n4. Update `META_ACCESS_TOKEN` in the Code node\n\n### Instagram Carousel\nThe workflow handles multi-image carousels automatically. Each file in `rawFiles` becomes a carousel slide. The master file is slide 1.",
        "height": 420,
        "width": 460,
        "color": 4
      },
      "id": "note-platforms",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -160
      ]
    },
    {
      "parameters": {
        "content": "## Error Handling\n\n- Each platform is wrapped in try/catch — one platform failing does not block others\n- The Code node has **Continue On Fail** enabled so a crash in publishing still logs the audit\n- If ALL platforms fail, the post is still marked `posted` to prevent infinite retry loops\n- Failed platforms are listed in the audit log details\n- Check the n8n execution log for full error traces\n\n### Duplicate Prevention\n- The post is marked `posted` BEFORE publishing starts\n- If n8n crashes mid-publish, the post won't be retried on the next 5-min cycle\n- To retry a failed post: change its stage back to `approved_scheduled` in the portal",
        "height": 340,
        "width": 460,
        "color": 6
      },
      "id": "note-errors",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        -160
      ]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Scheduled Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test": {
      "main": [
        [
          {
            "node": "Get Scheduled Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scheduled Posts": {
      "main": [
        [
          {
            "node": "Filter Due Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Now": {
      "main": [
        [
          {
            "node": "Process Each Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Post": {
      "main": [
        [
          {
            "node": "Mark as Posted",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Mark as Posted": {
      "main": [
        [
          {
            "node": "Publish to Platforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Platforms": {
      "main": [
        [
          {
            "node": "Log to Audit Trail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Audit Trail": {
      "main": [
        [
          {
            "node": "Process Each Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "versionId": "ten80ten-auto-publisher-v1"
}